streamlit 
pytesseract 
pdf2image 
pillow 
transformers
easyocr
fitz
pymupdf
langchain
langchain-community
google-cloud-vision 
google-cloud-translate 
pypdf2
google-auth 
google-auth-oauthlib 
google-auth-httplib2
sentence-transformers
streamlit_extras
faiss-cpu
sentencepiece